{% if app.user %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Pet Feeder</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="../../css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="../../images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="../../css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="../../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

</head>
<body>
<!-- section banner start -->
<div class="header_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div><a href="{{ path('home')}}"><img src="../../images/logopet.png"></a></div>
            </div>
            <div class="col-md-8">
                <div class="menu_text">
                    <ul>

                        <li class="last">
                            <div id="myNav" class="overlay">
                                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                <div class="overlay-content">
                                    <a href="{{ path('home')}}">Home</a>
                                    <a href="{{ path('app_pet_index')}}">Pet</a>
                                    <a href="{{ path('app_systeme_index')}}">Systeme</a>
                                    <a href="{{ path('app_servetime_index')}}">ServeTime</a>


                                </div>
                            </div>
                            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
                </div>
                </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<!-- section banner end -->
<!-- section about start -->

<!-- section about end -->
<!-- section gallery start -->


<!-- section gallery end -->
<!-- section get in touch start -->

<div class="touch_section_2">
    <div class="container">
        <div class="row">












            {% block title %}Servetime{% endblock %}

            {% block body %}


                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ servetime.id }}</td>
                    </tr>
                    <tr>
                        <th>Servingtime</th>
                        <td>{{ servetime.servingtime ? servetime.servingtime|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    </tbody>
                </table>

                <a href="{{ path('app_servetime_index') }}">back to list</a>

                <a href="{{ path('app_servetime_edit', {'id': servetime.id}) }}">edit</a>

                {{ include('servetime/_delete_form.html.twig') }}
            {% endblock %}



















            <!DOCTYPE html>
            <html lang="en">
            <head>
                <!-- basic -->
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <!-- mobile metas -->
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="viewport" content="initial-scale=1, maximum-scale=1">
                <!-- site metas -->
                <title>Pet Feeder</title>
                <meta name="keywords" content="">
                <meta name="description" content="">
                <meta name="author" content="">
                <!-- bootstrap css -->
                <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
                <!-- style css -->
                <link rel="stylesheet" type="text/css" href="../../css/style.css">
                <!-- Responsive-->
                <link rel="stylesheet" href="../../css/responsive.css">
                <!-- fevicon -->
                <link rel="icon" href="../../images/fevicon.png" type="image/gif" />
                <!-- Scrollbar Custom CSS -->
                <link rel="stylesheet" href="../../css/jquery.mCustomScrollbar.min.css">
                <!-- Tweaks for older IEs-->
                <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
                <!-- owl stylesheets -->
                <link rel="stylesheet" href="../../css/owl.carousel.min.css">
                <link rel="stylesheet" href="../../css/owl.theme.default.min.css">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

            </head>
            <body>
            <!-- section banner start -->

            <!-- section banner end -->
            <!-- section about start -->

            <!-- section about end -->
            <!-- section gallery start -->


            <!-- section gallery end -->
            <!-- section get in touch start -->

            <div class="touch_section_2">
                <div class="container">
                    <div class="row">


























                    </div>
                </div>
            </div>
            <!-- section get in touch end -->

            <!-- section footer start -->
            <div class="section_footer">
                <div class="container">
                    <div class="mail_section">
                        <ul>

                            <li class="footer-logo"><img src="../../images/map-icon.png"><span class="map_text">Ariana</span></li>
                            <li class="footer-logo"><img src="../../images/call-icon.png"><span class="map_text">(+216) 50354109</span></li>
                            <li class="footer-logo"><img src="../../images/email-icon.png"><span class="map_text">Pet.Feeder@gmail.com</span></li>
                        </ul>
                    </div>

                    <div class="copyright">2022 Pet Feeder</div>
                </div>
            </div>
        </div>
        <!-- section footer end -->

        <!-- Javascript files-->
        <script src="../../js/jquery.min.js"></script>
        <script src="../../js/popper.min.js"></script>
        <script src="../../js/bootstrap.bundle.min.js"></script>
        <script src="../../js/jquery-3.0.0.min.js"></script>
        <script src="../../js/plugin.js"></script>
        <!-- sidebar -->
        <script src="../../js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="../../js/custom.js"></script>
        <!-- javascript -->
        <script src="../../js/owl.carousel.js"></script>
        <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
        <script>
            $(document).ready(function(){
                $(".fancybox").fancybox({
                    openEffect: "none",
                    closeEffect: "none"
                });

                $(".zoom").hover(function(){

                    $(this).addClass('transition');
                }, function(){

                    $(this).removeClass('transition');
                });
            });
        </script>


        <script>
            function openNav() {
                document.getElementById("myNav").style.width = "100%";
            }

            function closeNav() {
                document.getElementById("myNav").style.width = "0%";
            }
        </script>

</body>
</html>
{% endif %}



